#portfolio {
  display: none;
  height: 100vh;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(226, 54, 54));
  padding: 7rem 1rem;
  position: relative;
}
#portfolio h3 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}
#portfolio h3 span {
  color: #e4e433;
}
#portfolio .container-portfolio::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}
#portfolio .container-portfolio::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #fff;
}
#portfolio .container-portfolio::-webkit-scrollbar-track:hover {
  background-color: #000;
}
#portfolio .container-portfolio::-webkit-scrollbar-track:active {
  background-color: #fff;
}
#portfolio .container-portfolio::-webkit-scrollbar-thumb {
  background-color: #888888;
}
#portfolio .container-portfolio::-webkit-scrollbar-thumb:hover {
  background-color: #62a34b;
}
#portfolio .container-portfolio::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}
#portfolio .container-portfolio {
  position: relative;
  width: 75%;
  height: 80%;
  max-height: 320px;
  border: 0.2rem solid white;
  border-radius: 1rem 0.8rem 0;
  display: block;
  margin: 2rem auto;
  padding: 2rem;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}
#portfolio .container-portfolio .port-nav {
  position: absolute;
  top: -10%;
}
#portfolio .container-portfolio .port-nav p[data-nav] {
  color: white;
  font-size: 5rem;
}
#portfolio .container-portfolio .port-nav p[data-nav]:hover {
  cursor: pointer;
}
#portfolio .container-portfolio .next-nav {
  right: 0;
}
#portfolio .container-portfolio .prev-nav {
  left: 0;
}
#portfolio div[data-category=fe-intro] h2,
#portfolio div[data-category=kp-intro] h2,
#portfolio div[data-category=ve-intro] h2 {
  font-weight: 900;
  font-style: italic;
  font-family: "Lobster", sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
}
#portfolio div[data-category=fe-intro] p,
#portfolio div[data-category=kp-intro] p,
#portfolio div[data-category=ve-intro] p {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: justify;
}
#portfolio div[data-category=fe-kemahiran] h2,
#portfolio div[data-category=kp-kemahiran] h2,
#portfolio div[data-category=ve-kemahiran] h2 {
  font-weight: 900;
  font-style: italic;
  font-family: "Lobster", sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
}
#portfolio div[data-category=fe-kemahiran] figure,
#portfolio div[data-category=kp-kemahiran] figure,
#portfolio div[data-category=ve-kemahiran] figure {
  display: inline-block;
  width: 12rem;
  height: 12rem;
  margin: 2rem 1rem;
}
#portfolio div[data-category=fe-kemahiran] figure img,
#portfolio div[data-category=kp-kemahiran] figure img,
#portfolio div[data-category=ve-kemahiran] figure img {
  width: 12rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0) contrast(0);
  transition: 0.5s;
}
#portfolio div[data-category=fe-kemahiran] figure img:hover,
#portfolio div[data-category=kp-kemahiran] figure img:hover,
#portfolio div[data-category=ve-kemahiran] figure img:hover {
  filter: brightness(100%) contrast(100%);
}
#portfolio div[data-category=fe-kemahiran] figure img:hover + figcaption,
#portfolio div[data-category=kp-kemahiran] figure img:hover + figcaption,
#portfolio div[data-category=ve-kemahiran] figure img:hover + figcaption {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
#portfolio div[data-category=fe-kemahiran] figure figcaption,
#portfolio div[data-category=kp-kemahiran] figure figcaption,
#portfolio div[data-category=ve-kemahiran] figure figcaption {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  transform: translateY(-200%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
#portfolio div[data-category=fe-pencapaian] h2,
#portfolio div[data-category=kp-pencapaian] h2,
#portfolio div[data-category=ve-pencapaian] h2 {
  font-weight: 900;
  font-style: italic;
  font-family: "Lobster", sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
}
#portfolio div[data-category=fe-pencapaian] figure,
#portfolio div[data-category=kp-pencapaian] figure,
#portfolio div[data-category=ve-pencapaian] figure {
  display: inline-block;
  width: 12rem;
  height: 12rem;
  margin: 1rem;
}
#portfolio div[data-category=fe-pencapaian] figure img,
#portfolio div[data-category=kp-pencapaian] figure img,
#portfolio div[data-category=ve-pencapaian] figure img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
#portfolio div[data-category=fe-pencapaian] figure img:hover,
#portfolio div[data-category=kp-pencapaian] figure img:hover,
#portfolio div[data-category=ve-pencapaian] figure img:hover {
  filter: brightness(20%);
}
#portfolio div[data-category=fe-pencapaian] figure img:hover + figcaption,
#portfolio div[data-category=kp-pencapaian] figure img:hover + figcaption,
#portfolio div[data-category=ve-pencapaian] figure img:hover + figcaption {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
#portfolio div[data-category=fe-pencapaian] figure figcaption,
#portfolio div[data-category=kp-pencapaian] figure figcaption,
#portfolio div[data-category=ve-pencapaian] figure figcaption {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  transform: translateY(-200%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
#portfolio div[data-category=fe-pencapaian] figure figcaption:hover + img,
#portfolio div[data-category=kp-pencapaian] figure figcaption:hover + img,
#portfolio div[data-category=ve-pencapaian] figure figcaption:hover + img {
  filter: brightness(20%);
}
#portfolio div[data-category=fe-pencapaian] figure img,
#portfolio div[data-category=fe-pencapaian] figure figcaption,
#portfolio div[data-category=kp-pencapaian] figure img,
#portfolio div[data-category=kp-pencapaian] figure figcaption,
#portfolio div[data-category=ve-pencapaian] figure img,
#portfolio div[data-category=ve-pencapaian] figure figcaption {
  cursor: pointer;
}
#portfolio div[data-category=fe-kreasi] h2,
#portfolio div[data-category=kp-kreasi] h2,
#portfolio div[data-category=ve-kreasi] h2 {
  font-weight: 900;
  font-style: italic;
  font-family: "Lobster", sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
}
#portfolio div[data-category=fe-kreasi] .creativity-container,
#portfolio div[data-category=kp-kreasi] .creativity-container,
#portfolio div[data-category=ve-kreasi] .creativity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#portfolio div[data-category=fe-kreasi] .creativity-container figure,
#portfolio div[data-category=kp-kreasi] .creativity-container figure,
#portfolio div[data-category=ve-kreasi] .creativity-container figure {
  display: inline-block;
  width: 12rem;
  height: 12rem;
}
#portfolio div[data-category=fe-kreasi] .creativity-container figure img,
#portfolio div[data-category=kp-kreasi] .creativity-container figure img,
#portfolio div[data-category=ve-kreasi] .creativity-container figure img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
#portfolio div[data-category=fe-kreasi] .creativity-container figure img:hover,
#portfolio div[data-category=kp-kreasi] .creativity-container figure img:hover,
#portfolio div[data-category=ve-kreasi] .creativity-container figure img:hover {
  filter: brightness(20%);
}
#portfolio div[data-category=fe-kreasi] .creativity-container figure img:hover + figcaption,
#portfolio div[data-category=kp-kreasi] .creativity-container figure img:hover + figcaption,
#portfolio div[data-category=ve-kreasi] .creativity-container figure img:hover + figcaption {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
#portfolio div[data-category=fe-kreasi] .creativity-container figure figcaption,
#portfolio div[data-category=kp-kreasi] .creativity-container figure figcaption,
#portfolio div[data-category=ve-kreasi] .creativity-container figure figcaption {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  transform: translateY(-200%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
#portfolio div[data-category=fe-kreasi] .creativity-container figure figcaption:hover + img,
#portfolio div[data-category=kp-kreasi] .creativity-container figure figcaption:hover + img,
#portfolio div[data-category=ve-kreasi] .creativity-container figure figcaption:hover + img {
  filter: brightness(20%);
}
#portfolio div[data-category=fe-kreasi] .creativity-container figure img,
#portfolio div[data-category=fe-kreasi] .creativity-container figure figcaption,
#portfolio div[data-category=kp-kreasi] .creativity-container figure img,
#portfolio div[data-category=kp-kreasi] .creativity-container figure figcaption,
#portfolio div[data-category=ve-kreasi] .creativity-container figure img,
#portfolio div[data-category=ve-kreasi] .creativity-container figure figcaption {
  cursor: pointer;
}
#portfolio div[data-category=fe-kreasi] .slide-prof,
#portfolio div[data-category=kp-kreasi] .slide-prof,
#portfolio div[data-category=ve-kreasi] .slide-prof {
  position: absolute;
  bottom: -15%;
  font-size: 6rem;
  cursor: pointer;
}
#portfolio div[data-category=fe-kreasi] #creativity-next,
#portfolio div[data-category=fe-kreasi] #creativity-next-kp,
#portfolio div[data-category=kp-kreasi] #creativity-next,
#portfolio div[data-category=kp-kreasi] #creativity-next-kp,
#portfolio div[data-category=ve-kreasi] #creativity-next,
#portfolio div[data-category=ve-kreasi] #creativity-next-kp {
  right: 0;
}
#portfolio div[data-category=fe-kreasi] #creativity-prev,
#portfolio div[data-category=fe-kreasi] #creativity-prev-kp,
#portfolio div[data-category=kp-kreasi] #creativity-prev,
#portfolio div[data-category=kp-kreasi] #creativity-prev-kp,
#portfolio div[data-category=ve-kreasi] #creativity-prev,
#portfolio div[data-category=ve-kreasi] #creativity-prev-kp {
  left: 0;
}
#portfolio div[data-category=kp-kemahiran] img,
#portfolio div[data-category=ve-kemahiran] img {
  border-radius: 50%;
}

.container-reward {
  font-family: "Poppins", sans-serif;
  color: white;
  display: grid;
  grid-template-areas: "image identity" "exp exp" "button button";
  grid-template-columns: 1fr 1fr;
  position: fixed;
  background-color: #222;
  margin: 0 auto;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 80%;
  border: 1rem double aqua;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  overflow-y: scroll;
  z-index: 999;
}
.container-reward::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.container-reward::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #333333;
}
.container-reward::-webkit-scrollbar-track:hover {
  background-color: #515151;
}
.container-reward::-webkit-scrollbar-track:active {
  background-color: #060606;
}
.container-reward::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: #888888;
}
.container-reward::-webkit-scrollbar-thumb:hover, .container-reward::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}
.container-reward .img-container-reward {
  grid-area: image;
  width: 100%;
  max-width: 505.094px;
  max-height: 243.562px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1rem;
}
.container-reward .identity-container-reward {
  grid-area: identity;
  margin-left: 1rem;
  margin-top: 1rem;
}
.container-reward .identity-container-reward a {
  text-align: center;
  text-decoration: none;
}
.container-reward .identity-container-reward a button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: none;
  border: 0.2rem solid aqua;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.container-reward .identity-container-reward a button:hover {
  background-color: aqua;
  color: black;
}
.container-reward .explain-container-reward {
  grid-area: exp;
  text-align: justify;
}
.container-reward .close-reward {
  grid-area: button;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  border: 0.2rem solid aqua;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.container-reward .close-reward:hover {
  background-color: aqua;
  color: black;
}

.container-creativity .container-reward {
  font-family: "Poppins", sans-serif;
  color: white;
  display: grid;
  grid-template-areas: "image identity" "exp exp" "button button";
  grid-template-columns: 1fr 1fr;
  position: fixed;
  background-color: #222;
  margin: 0 auto;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border: 1rem double aqua;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  overflow-y: scroll;
}
.container-creativity .container-reward::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.container-creativity .container-reward::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #333333;
}
.container-creativity .container-reward::-webkit-scrollbar-track:hover {
  background-color: #515151;
}
.container-creativity .container-reward::-webkit-scrollbar-track:active {
  background-color: #060606;
}
.container-creativity .container-reward::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: #888888;
}
.container-creativity .container-reward::-webkit-scrollbar-thumb:hover, .container-creativity .container-reward::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}
.container-creativity .container-reward .img-container-creativity {
  grid-area: image;
  width: 100%;
  border-radius: 1rem;
}
.container-creativity .container-reward .identity-container-creativity {
  grid-area: identity;
  margin-left: 1rem;
  margin-top: 1rem;
}
.container-creativity .container-reward .identity-container-creativity a {
  text-align: center;
  text-decoration: none;
}
.container-creativity .container-reward .identity-container-creativity a button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: none;
  border: 0.2rem solid aqua;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.container-creativity .container-reward .identity-container-creativity a button:hover {
  background-color: aqua;
  color: black;
}
.container-creativity .container-reward .explain-container-creativity {
  grid-area: exp;
  text-align: justify;
}
.container-creativity .container-reward .close-creativity {
  grid-area: button;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  border: 0.2rem solid aqua;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
.container-creativity .container-reward .close-creativity:hover {
  background-color: aqua;
  color: black;
}

#creat-port-fe {
  width: 100%;
}

@media (max-width: 576px) {
  div[data-category=fe-kemahiran] figure,
  div[data-category=kp-kemahiran] figure {
    display: block !important;
    margin: 2.5rem auto !important;
  }
  .creativity-container {
    flex-direction: column !important;
  }
  .slide-prof {
    display: none !important;
  }
  .port-nav {
    top: 0 !important;
  }
  .close-reward {
    padding: 0 2rem !important;
  }
}/*# sourceMappingURL=portfolio.css.map */